<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.18/web.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:inline="javascript"> var apiKey = /*[[${apiKey}]]*/;</script>
</head>
<body>

<header>

</header>
<main>
    <div id="informationFormContainer">
        <form th:action="@{/routes/create}" th:object="${route}" method="post">
            <input type="hidden" th:field="${route.routeId}">
            <label>Route name</label>
            <input type="text" th:field="${route.routeName}"><br>
            <label>Starting coordinates</label>
            <input type="text" th:field="${route.startingCoordinates}"><br>
            <label>Ending Coordinates</label>
            <input type="text" th:field="${route.endingCoordinates}"><br>
            <label>Optional Coortinates</label>
            <input type="text" th:field="${route.optionalCoordinates}"><br>
            <label>Description</label>
            <input type="text" th:field="${route.routeDescription}"><br>
            <input type="submit" value="Issaugoti">
            <label> <a href="http://localhost:8080/routes/kazkas"> scratch </a></label>
        </form>
    </div>
    <div id="mapsContainer">
        <div id="startPointMap"></div>
        <div id="endPointMap"></div>
    </div>
    <div>
        <p id="startingLocation">Pradinis keliones taskas:  </p>
        <p id="startingCords">Pradinis cords:  </p>
        <p id="endingLocation">Galinis keliones taskas:  </p>
        <p id="endingCords">Galinis cords:  </p>
        <p id="instructions"></p>
    </div>


    <script type="text/javascript" th:src="@{/javascript/mapBoxMaps.js}"></script>
</main>
<footer>

</footer>

</body>
</html>