<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}">
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.js"></script>
    <script id="search-js" defer="" src="https://api.mapbox.com/search-js/v1.0.0-beta.18/web.js"></script>
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.1/mapbox-gl-directions.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>

<header>

</header>
<main>
    <form th:action="@{/routes/create}" th:object="${route}" method="post">
        <input type="hidden" th:field="${route.routeId}">
        <label>Route name</label>
        <input type="text" th:field="${route.routeName}"><br>
        <label>Starting coordinates</label>
        <input type="text" th:field="${route.startingCoordinates}"><br>
        <label>Ending Coordinates</label>
        <input type="text" th:field="${route.endingCoordinates}"><br>
        <label>Optional Coortinates</label>
        <input type="text" th:field="${route.optionalCoordinates}"><br>
        <label>Description</label>
        <input type="text" th:field="${route.routeDescription}"><br>
        <input type="submit" value="Issaugoti">
        <label> <a href="http://localhost:8080/routes/kazkas"> scratch </a></label>
    </form>



    <div id='map'></div>
    <div>
        <p id="startingLocation">Pradinis keliones taskas:  </p>
        <p id="startingCords">Pradinis cords:  </p>
        <p id="endingLocation">Galinis keliones taskas:  </p>
        <p id="endingCords">Galinis cords:  </p>
        <p id="instructions"></p>
    </div>

    <script>
        mapboxgl.accessToken = '[[${apiKey}]]';
let startCoordinates;
let endCoordinates;

const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v12',
    center: [-87.661557, 41.893748],
    zoom: 11
});

map.on('style.load', function () {



    //////////////////// Suranda lokacija ir padeda ten taska
    navigator.geolocation.getCurrentPosition(function (position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        map.addLayer({
            id: 'start',
            type: 'circle',
            source: {
                type: 'geojson',
                data: {
                    type: 'FeatureCollection',
                    features: [
                        {
                            type: 'Feature',
                            properties: {},
                            geometry: {
                                type: 'Point',
                                coordinates: [longitude, latitude]
                            }
                        }
                    ]
                }
            },
            paint: {
                'circle-radius': 10,
                'circle-color': '#f30'
            }
        });
        map.jumpTo({
            center: [longitude, latitude],
            zoom: 11
        });

        //////////pridedu Start point search boxa//////////
        const searchStartPoint = new MapboxSearchBox();
        searchStartPoint.accessToken = '[[${apiKey}]]';
        searchStartPoint.marker = true;
        searchStartPoint.mapboxgl = mapboxgl;
        map.addControl(searchStartPoint, 'top-right');


        /////////////// pridedu End point search boxa
        const searchEndPoint = new MapboxSearchBox();
        searchEndPoint.accessToken = '[[${apiKey}]]';
        searchEndPoint.marker = true;
        searchEndPoint.mapboxgl = mapboxgl;
        map.addControl(searchEndPoint, 'top-right');

        ///pridedu start point event listeneri, kad kai ieskau, gauna searcho info
        searchStartPoint.addEventListener('retrieve', (event) => {
            const startFeatureCollection = event.detail;
            console.log(startFeatureCollection);

            $.ajax({                                      // Siunciu objekto Json formata
                url: "/routes/handleStartPointResponse",  // controllerio methodo URL
                type: "POST",             // Post nes siunciu info i controlleri
                contentType: "application/json",
                data: JSON.stringify(startFeatureCollection),
                dataType: "json"
            });
        })
        ///pridedu End point event listeneri, kad kai ieskau, gauna searcho info
        searchEndPoint.addEventListener('retrieve', (event) => {
            const endFeatureCollection = event.detail;
            console.log(endFeatureCollection);

            $.ajax({                                    //siunciu objekto Json formata
                url: "/routes/handleEndPointResponse",  // controllerio methodo URL
                type: "POST",             // Post nes siunciu info i controlleri
                contentType: "application/json",
                data: JSON.stringify(endFeatureCollection),
                dataType: "json"
            });
            getRoute();
        })
    });
});

//Creating directions description functions and painting route.

function getRoute() {

  fetch(
    `https://api.mapbox.com/directions/v5/mapbox/driving-traffic/${startCoordinates};${endCoordinates}?steps=true&geometries=geojson&access_token=${mapboxgl.accessToken}`,
    { method: 'GET' }
  )
  .then(response => response.json())
  .then(json => {
    const data = json.routes[0];
    const route = data.geometry.coordinates;
    const geojson = {
      type: 'Feature',
      properties: {},
      geometry: {
        type: 'LineString',
        coordinates: route
      }
    };

     console.log('GeoJSON object:', geojson);

     if (map.getSource('route')) {
    map.getSource('route').setData(geojson);
  }
  else {
          map.addLayer({
            'id': 'route',
            'type': 'line',
            'source': {
              'type': 'geojson',
              'data': geojson
            },
            'layout': {
              'line-join': 'round',
              'line-cap': 'round'
            },
            'paint': {
              'line-color': '#3887be',
              'line-width': 5,
              'line-opacity': 0.75
            }
          });
          }
     map.jumpTo({
            center: [23.9044817, 54.8982139],
            zoom: 11
        });
    // get the sidebar and add the instructions
    const instructions = document.getElementById('instructions');
    const steps = data.legs[0].steps;

    let tripInstructions = '';
    for (const step of steps) {
      tripInstructions += `<li>${step.maneuver.instruction}</li>`;
    }
    instructions.innerHTML = `<p><strong>Trip duration: ${Math.floor(
      data.duration / 60
    )} min 🚴 </strong></p><ol>${tripInstructions}</ol>`;
  })
  .catch(error => {
    console.error('Error fetching route:', error);
  });
}

                                   // Code from the next step will go here.
    </script>



    <script>
        setInterval(updateStartLocation, 5000);
        setInterval(updateEndLocation, 5000);
        setInterval(updateStartCoordinates, 1000);
        setInterval(updateEndCoordinates, 1000);

        function updateStartLocation() {
            var startLocationName = document.getElementById("startingLocation");

            // Use AJAX to fetch the locationName from the server
            $.ajax({
                url: "/routes/startingLocationName",
                type: "GET",
                success: function(response) {
                    startLocationName.innerHTML = "Pradinis keliones taskas: " + response;
                    console.log("Test: " + response);
                },
                error: function(error) {
                    console.error("Error: No start location name", error);
                }
            });
        }

        function updateEndLocation() {
            var endLocationName = document.getElementById("endingLocation");
            $.ajax({
                url: "/routes/endLocationName",
                type: "GET",
                success: function(response) {
                    endLocationName.innerHTML = "Galinis keliones taskas: " + response;
                    console.log("Test: " + response);
                },
                error: function(error) {
                    console.error("Error: No end location name", error);
                }
            });
        }

        function updateStartCoordinates(){

         $.ajax({            //Pasiemu start cordinates is controllerio
                url: "/routes/startingLocationCoordinates",
                type: "GET",
                success: function (response) {
                    startCoordinates = response.toString();
                    document.getElementById("startingCords").innerHTML = "start coords: " + startCoordinates;
                },
                error: function (error) {
                    console.error("Error: No start coordinates", error);
                }
            });
        }
        function updateEndCoordinates(){

        $.ajax({                //Pasiemu endpoint coordinates is controlerio
                url: "/routes/endLocationCoordinates",
                type: "GET",
                success: function (response) {
                    endCoordinates = response.toString();
                    document.getElementById("endingCords").innerHTML = "end coords: " + endCoordinates;
                },
                error: function (error) {
                    console.error("Error: No ending coordinates ", error)
                }
            });
        }
    </script>

</main>
<footer>

</footer>

</body>
</html>