<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Location Finder</title>
</head>
<body>
  <div>
      <form th:action="@{/geocoding/coordinates}" method="get">
          <label>Pradzios taskas</label>
          <input type="text" name="startPoint" th:value="${startPoint}"/>
          <label>Pabaigos taskas</label>
          <input type="text" name="endPoint" th:value="${endPoint}"/>
          <input type="submit" value="submit">
      </form>
  </div>
</body>
</html>